::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: rgb(255,255,255);
  }
  
::-webkit-scrollbar-thumb {
    background: rgb(69, 96, 54);
  }

h1 {
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    color: #646464;
    font-family: arial, sans-serif;
    font-size: 12px;
}

p {
    color: #646464;
    font-family: arial, sans-serif;
    font-size: 11px;
}

a {
    color: #797878;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: none;
    color: #a8a8a8;
  }

button {
    border-radius:12px;
    border: none;
    background-color: #719c9e;
    color: #ffffff;
    padding: 8px;
}

#new-lobster-container {
    display: none;
}

#tank-container {
    display: flex;
    width: 100%;
    height: 60%;
}

#tank {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 8%;
    border-left: #719c9e 5px solid;
    border-right: #719c9e 5px solid;
    border-bottom: #719c9e 5px solid;
    border-top: #acd2d4 3px double;
    background-color: #a8d9db;
}

#side-panel {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 2%;
    text-align: center;
}

#graveyard-link {
    font-size: 40px;
    margin: 0;
}

#button-container{
    margin-top:-10%;
    display: flex;
    justify-content: space-evenly;
}

#air{
    position: absolute;
    top: 0px;
    height:6%;
    width:100%;
    background-color:#e1f6f7;
}

#sand{
    position: absolute;
    bottom: 0px;
    height: 14%;
    width: 100%;
    background-color:rgb(231, 228, 188);
}

img {
    width: 10%;
    height: auto;
  }

#seaweed{
    position: absolute;
    bottom: 26px;
    display: flex;
    width: fit-content;
    justify-content: space-around;
    filter: blur(2px);
}

.lobster{
    position: absolute;
    bottom: -45px;
    font-size: 40px;
    width: fit-content;
    transform: rotate(90deg);
}

.food{
    position: absolute;
    bottom:0%;
    width:fit-content;
    font-size:20px;
}

.hidden{
   display: none;
}

.falling{
    animation:fall-down 2s;
}

@keyframes fall-down{
    from{
        bottom:80%;
    }
    to{
        bottom:0%;
    }
}

.left{
    margin-left:15%;
}

.right{
    margin-left:75%;
}

.middle{
    margin-left:45%;
}

.left-right{
    animation:move-left-right 2s;
}

@keyframes move-left-right{
    from{
        margin-left:15%;
    }
    to{
        margin-left:75%;
    }
}

.middle-right{
    animation:move-middle-right 1s;
}

@keyframes move-middle-right{
    from{
        margin-left:45%;
    }
    to{
        margin-left:75%;
    }
}

.middle-left{
    animation:move-middle-left 1s;
    transform: rotate(-90deg);
}

@keyframes move-middle-left{
    from{
        margin-left:45%;
    }
    to{
        margin-left:15%;
    }
}

.right-left{
    animation:move-right-left 2s;
    transform: rotate(-90deg);
}

@keyframes move-right-left{
    from{
        margin-left:75%;
    }
    to{
        margin-left:15%;
    }
}

.left-middle{
    animation:move-left-middle 1s;
}

@keyframes move-left-middle{
    from{
        margin-left:15%;
    }
    to{
        margin-left:45%;
    }
}

.right-middle{
    animation:move-right-middle 1s;
    transform: rotate(-90deg);
}

@keyframes move-right-middle{
    from{
        margin-left:75%;
    }
    to{
        margin-left:45%;
    }
}

/*Graveyard styles*/

.grass {
    background-color:rgb(106, 147, 84);
}

.sky {
    background-color: rgb(255,255,255);
    height: 70%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

#clouds {
    width: 30%;
    height: 30%;
    position: absolute;
    justify-content: center;
    margin-top: -250px;
    z-index: -2;
}

#cloud-1 {
    position: relative;
    font-size: 200px;
    top: -160%;
    margin: 0;
    width: fit-content;
    filter: blur(5px);
}

#cloud-2 {
    position: relative;
    font-size: 150;
    top: -250%;
    left: 25%;
    margin: 0;
    width: fit-content;
    filter: blur(5px);
}

#tank-link {
    position: absolute;
    top: -90%;
    left: 13%;
    margin: 0;
    width: fit-content;
    opacity: 60%;
}

#distant-tree {
    font-size: 200px;
    position: absolute;
    top: 38%;
    left: 15%;
    margin: 0;
    filter: blur(2px) saturate(50%);
    z-index: -1;
}

#tree {
    font-size: 300px;
    position: absolute;
    top: 25%;
    right: 10%;
    margin: 0;
    filter: saturate(50%);
}

#graves-container {
    width: 90%;
    margin-top: 75vh;
    margin-left: 5%;
}

#empty-grave {
    display: none;
}

.grave {
    display: inline;
    font-size: 50px;
    cursor: pointer;
    filter: saturate(50%);
}

#lobster-life {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
}

#lobster-image {
    font-size: 50px;
    opacity: 0.7;
}